:host {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
}

mat-sidenav {
    background-color: var(--mat-sidenav-container-background-color, white);
}

::ng-deep mat-nav-list a[mat-list-item] {
    transition: background 0.15s ease;

    &:has([matlistitemline]) {
        height: auto;
        .mdc-list-item__content {
            padding: 8px 0;
        }
    }
}
