<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cloud-files-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e7feae5d-2e46-470e-a5b3-5eb025fd598e/resourceGroups/CloudFiles/providers/Microsoft.Web/sites/cloud-files-api</ResourceId>
    <UserName>$cloud-files-api</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://cloud-files-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>